name: GitHub Car Accessories Project

on:
  push:
    branches: [main]

jobs:
  build-on-ubuntu:
    runs-on: ubuntu-latest

    steps:
      - name: Step1 - Checkout main branch from GitHub
        uses: actions/checkout@v3
        with:
           fetch-depth: 0 

      - name: Step2 - Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Step3 - Build Maven Project
        run: mvn --batch-mode clean -DskipTests 

      - name: Step4 - run test cases
        run: mvn --batch-mode -Dmaven.test.failure.ignore=true -X test

      - name: Cache SonarCloud packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn -B   jacoco:prepare-agent   verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=MaiOrgan_New_Car_acce
  
